<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
      crossorigin="anonymous"
    />
    <div style="text-align: center;">
      <h1 class="display-3"><strong>Welcome to Return Haus</strong></h1>
      <p class="lead">
        Search for any security. Equity or otherwise 💸
      </p>
      <hr class="my-4" />
      <p class="lead">
        <a href="localhost:3000">Try Another Search</a>
      </p>
    </div>
  </head>
  <p class="lead">Quick Facts</p>
  <p class="text-primary">
    From: <%= info[1] %>
  </p>
  <p class="text-primary">
    To: <%= info[2] %>
  </p>
  <p class="text-primary">
    Last Refreshed: <%= info[4] %>
  </p>
  <BR />
  <span class="badge badge-primary"
    >Current Rate: <%= quickData.curRate %></span
  >
  <BR />
  <span class="badge badge-primary"
    >Average High over past 100 days: <%= quickData.avgHigh %></span
  >
  <BR />
  <span class="badge badge-primary"
    >Average Low over past 100 days: <%= quickData.avgLow %></span
  >
  <BR />
  <span class="badge badge-primary"
    >Lowest Price over past 100 days: <%= quickData.lowest %></span
  >
  <BR />
  <span class="badge badge-primary"
    >Highest Price over past 100 days: <%= quickData.highest %></span
  >
  <BR />

  <body>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Open</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Close</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < data.length; i++){ %>
        <tr class="table-primary">
          <th scope="row">
            <%= data[i]["1. open"] %>
          </th>
          <td><%= data[i]["2. high"] %></td>
          <td><%= data[i]["3. low"] %></td>
          <td><%= data[i]["4. close"] %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
